<nav>
  <a href="/groups" class="brand">💬 ChatApp</a>
  <% if (locals.user) { %>
    <div class="nav-right">
      <span class="nav-user">👤 <%= user.username %></span>
      <a href="/logout" class="logout-btn">Logout</a>
    </div>
  <% } %>
</nav>